<!DOCTYPE html>
{{#if htmlWebpackPlugin.options.page.lang.en}}
<html lang="en">
{{else if htmlWebpackPlugin.options.page.lang.fr}}
<html lang="fr">
{{/if}}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="preload" href="css/main.css" as="style" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="GCWeb/css/theme.min.css" />
    <link rel="stylesheet" href="GCWeb/css/gcwu.custom.css" />
    <noscript
      ><link rel="stylesheet" href="GCWeb/wet-boew/css/noscript.min.css"
    /></noscript>
    <title>Crude Runs</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <section id="wb-lng" class="visible-md visible-lg">
            <h2>Language selection</h2>
            <ul class="text-right list-inline margin-bottom-none">
              <li>
                <a
                  lang="fr"
                  hreflang="fr"
                  href="/index_fr.html"
                  >Français</a
                >
              </li>
            </ul>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1 id="wb-cont" property="name">
            {{htmlWebpackPlugin.options.page.text.h1}}
          </h1>
        </div>
      </div>
      <div class="row wb-eqht mrgn-tp-lg" id="runs-intro">
        <div class="col-md-6">
          <section class="panel panel-default hght-inhrt runs-panel">
            <header class="panel-heading">
              <h5 class="panel-title">{{htmlWebpackPlugin.options.page.text.mapHeader}}</h5>
            </header>
            <div class="panel-body">
              <div id="canada-map"></div>
            </div>
          </section>
        </div>
        <div class="col-md-6">
          <section class="panel panel-default hght-inhrt runs-panel">
            <header class="panel-heading">
              <h5 class="panel-title">{{htmlWebpackPlugin.options.page.text.whatHeader}}</h5>
            </header>
            <div class="panel-body">
              <p>
                {{htmlWebpackPlugin.options.page.text.whatP.one}}
              </p>
              <p>
                {{htmlWebpackPlugin.options.page.text.whatP.two}}
              </p>
              <p>
                {{htmlWebpackPlugin.options.page.text.whatP.three}}
              </p>
              <p>
                {{htmlWebpackPlugin.options.page.text.whatP.four}}
              </p>
            </div>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <section class="panel panel-default">
            <header class="panel-heading">
              <div class="chart-header">
                <h5 class="panel-title" style="display: inline">
                  {{htmlWebpackPlugin.options.page.text.chartHeader}}
                </h5>
                <div id="radio-units" class="radio-inline pull-right">
                  <form>
                    <label for="crude-runs-bbl-btn" class="radio-inline">
                      <input
                        id="crude-runs-bbl-btn"
                        type="radio"
                        name="type"
                        value="b/d"
                        checked="checked"
                      />
                      {{htmlWebpackPlugin.options.page.text.units.imperial}}</label
                    >
                    <label for="crude-runs-m3-btn" class="radio-inline">
                      <input
                        id="crude-runs-m3-btn"
                        type="radio"
                        name="type"
                        value="m3/d"
                      />
                      {{htmlWebpackPlugin.options.page.text.units.metric}}</label
                    >
                  </form>
                </div>
              </div>
            </header>
            <div class="panel-body">
              <div id="sync-charts">
                <div class="runs-chart" id="runs-west"></div>
                <div class="runs-chart" id="runs-ontario"></div>
                <div class="runs-chart" id="runs-quebec"></div>
              </div>
            </div>
            <footer class="panel-footer">
              <div id="updated"></div>
            </footer>
          </section>
        </div>
        <div class="col-md-12" style="height: 200px">
          <details class="mrgn-bttm-lg">
            <summary>{{htmlWebpackPlugin.options.page.text.instructionsHeader}}</summary>
            <p>
              {{htmlWebpackPlugin.options.page.text.instructionsP.one}}
            </p>
          </details>

          <p><strong>Data:</strong></p>
          <ul class="lst-spcd">
            <li>
              <a
                href="https://apps.cer-rec.gc.ca/WCR/WCRRegionalSummary.aspx?lang=English"
                >Weekly Crude Run Summary</a
              ><br />
              Volume, year to date average
            </li>
            <li>
              Historical Weekly Crude Run Data (updated as of 27&nbsp;April
              2021)
              <a
                href="/en/data-analysis/energy-commodities/crude-oil-petroleum-products/statistics/crdrn-hstrcl.xlsx"
                title="Historical Weekly Crude Run Data"
                >[EXCEL&nbsp;331&nbsp;KB]</a
              >
            </li>
          </ul>
          <p>
            For further information, contact
            <a href="mailto:request.demande@cer-rec.gc.ca"
              >request.demande@cer-rec.gc.ca</a
            >.
          </p>
          <dl id="wb-dtmd">
            <dt>Date modified:</dt>
            <dd><time property="dateModified">2021-05-11</time></dd>
          </dl>
        </div>
      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <script src="GCWeb/wet-boew/js/wet-boew.min.js"></script>
</html>